<section class="bg-[#020303] 

  pt-[50px] pb-[40px]     
  sm:pt-[60px] sm:pb-[50px]
  md:pt-[80px] md:pb-[70px]
  lg:pt-16 lg:pb-16">
  <div class="h-full w-full max-w-[1280px] mx-auto 
                  lg:bg-[url('/img/advantages-bg.png')] 
                  bg-no-repeat 
                  bg-[size:1280px_auto]
                  bg-[position:50%_-50px]">
    <div class="flex relative flex-col justify-center items-center lg:flex-row lg:items-start">
      <div class="inline-block relative">
        <div class="hidden md:block lg:hidden absolute left-[-60%] top-[20px] ">
          <img src="/img/line-left-adv.svg" alt="" aria-hidden="true" class="w-[118px] h-auto" />
        </div>
        <h3
          class="!text-[24px] md:!text-[32px] lg:!text-[40px] font-['Unbounded'] font-medium text-[#FEFEFE] text-center hero-title z-10">
          <span class="text-[#ba0108]">Ч</span>ОМУ МИ?
        </h3>
  <div class="hidden md:block lg:hidden absolute right-[-60%] top-[20px]">
    <img src="/img/line-right-adv.svg" alt="" aria-hidden="true" class="w-[118px] h-auto" />
  </div>
  </div>
      </div>

    

  

    <!-- Десктопна версія (вирівняні картки та іконки) -->
    <div class="hidden lg:flex justify-around items-stretch max-w-[1280px] px-[20px] mx-auto
        mt-[72px]">

    <!-- Advantage 1 -->
    <div class="flex flex-col flex-1 justify-between items-center text-center">
      <div class="flex flex-col gap-4 items-center">
        <h4 class=" text-[16px] md:text-[20px] lg:text-[24px] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
          Надійні<br>постачальники
        </h4>
        <p class="text-[16px] md:text-[14px] lg:text-[20px] text-[#fefefe] font-['Montserrat'] font-normal text-center px-1">
          Постійний <br>ланцюг постачання <br>комплектуючих
        </p>
      </div>
      <img src="/img/trust.svg" alt="Надійні постачальники" width="80" height="80" class="mt-4 w-20 h-20" />
    </div>

    <!-- Advantage 2 -->
    <div class="flex flex-col flex-1 justify-between items-center text-center">
      <div class="flex flex-col gap-4 items-center">
        <h4 class="text-[clamp(20px,1.95vw,24px)] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
          Гарантована<br>якість
        </h4>
        <p class="text-[16px] md:text-[14px] lg:text-[20px] text-[#fefefe] font-['Montserrat'] font-normal text-center px-1">
          Перевірено <br>в екстремальних умовах
        </p>
      </div>
      <img src="/img/quality.svg" alt="Гарантована якість" width="80" height="80" class="mt-4 w-20 h-20" />
    </div>

    <!-- Advantage 3 -->
    <div class="flex flex-col flex-1 justify-between items-center text-center">
      <div class="flex flex-col gap-4 items-center">
        <h4 class="text-[clamp(20px,1.95vw,24px)] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
          Сервіс та<br>техпідтримка
        </h4>
        <p class="text-[16px] md:text-[14px] lg:text-[24px] text-[#fefefe] font-['Montserrat'] font-normal text-center px-1">
          Консультуємо <br>та допомагаємо
        </p>
      </div>
      <img src="/img/service.svg" alt="Сервіс та техпідтримка" width="80" height="80" class="mt-4 w-20 h-20" />
    </div>

    <!-- Advantage 4 -->
    <div class="flex flex-col flex-1 justify-between items-center text-center">
      <div class="flex flex-col gap-4 items-center">
        <h4 class="text-[clamp(20px,1.95vw,24px)] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
          Свій R&D відділ
        </h4>
        <p class="text-[16px] md:text-[20px] lg:text-[24px] text-[#fefefe] font-['Montserrat'] font-normal text-center px-1">
          Постійне <br>удосконалення, <br>індивідуальні рішення
        </p>
      </div>
      <img src="/img/r&d.svg" alt="Свій R&D відділ" width="80" height="80" class="mt-4 w-20 h-20" />
    </div>
    </div>
  </div>
  <!-- Мобільна версія -->
  <div class="grid grid-cols-2 
    gap-x-[45px]
    gap-y-[65px] 
     justify-items-center 
     items-start
     mx-auto
     mt-[42px]
     px-4
     md:mt-[50px] 
     max-w-[800px]
     lg:hidden">
    <!-- Advantage 1 -->
    <div
      class="flex relative flex-col gap-4 max-[449px]:gap-0   items-center text-center w-full max-[450px]:w-[155px]   md:w-[279px] max-[449px]:order-1">
      <img src="/img/trust.svg" alt="Надійні постачальники" width="78" height="78"
        class="w-[78px] h-[78px] max-[449px]:w-[74px] max-[449px]:h-[74px] max-[450px]:order-first md:order-last" />
      <h3
        class="text-[16px] md:text-[20px] lg:text-[24px] md:text-[20px] max-[449px]:mt-[15px] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
        Надійні постачальники
      </h3>
      <p
        class="text-[16px] md:text-[14px] lg:text-[20px] max-[449px]:mt-[25px] text-[#fefefe] font-normal font-['Montserrat']">
        Постійний ланцюг постачання комплектуючих
      </p>

      <div class="hidden absolute top-48 left-1/2 transform -translate-x-1/2 md:block lg:hidden">
        <img src="/img/line-center.svg" alt="" aria-hidden="true" class="w-8 h-9" loading="lazy"/>
      </div>
    </div>

    <!-- Advantage 2 -->
    <div
      class="flex relative flex-col gap-4 max-[449px]:gap-0 max-[449px]:mt-[3px]     items-center text-center w-full max-[450px]:w-[155px]  md:w-[279px] max-[449px]:order-3">
      <img src="/img/quality.svg" alt="Гарантована якість" width="78" height="78"
        class="w-[78px] h-[78px] max-[449px]:w-[74px] max-[449px]:h-[74px] max-[450px]:order-first md:order-last" />

      <h4
        class="text-[clamp(16px,2vw,20px)] md:text-[20px] max-[449px]:mt-[15px] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
        Гарантована якість
      </h4>
      <p
        class="text-[16px] md:text-[14px] lg:text-[20px] max-[449px]:mt-[25px] text-[#fefefe] font-normal font-['Montserrat']">
        Перевірено в екстремальних умовах
      </p>
      <div class="hidden absolute top-48 left-1/2 transform -translate-x-1/2 md:block lg:hidden">
        <img src="/img/line-center.svg" alt="" aria-hidden="true" class="w-8 h-9" loading="lazy"/>
      </div>
    </div>

    <!-- Advantage 3 -->
    <div
      class="flex flex-col gap-4 max-[449px]:gap-0 max-[449px]:mt-[8px]   justify-between items-center text-center w-full max-[450px]:w-[155px]  md:w-[279px] max-[449px]:order-2">
      <img src="/img/service.svg" alt="Сервіс та техпідтримка" width="78" height="78"
        class="max-[449px]: w-[78px] h-[78px] max-[449px]:w-[75px] max-[449px]:h-[67px] max-[450px]:order-first md:order-last" />
      <h4
        class="text-[16px] md:text-[20px] lg:text-[24px] md:text-[20px] max-[449px]:mt-[15px] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
        Сервіс та техпідтримка
      </h4>
      <p
        class="text-[16px] md:text-[14px] lg:text-[20px]  max-[449px]:mt-[25px] text-[#fefefe] font-normal font-['Montserrat']">
        Консультуємо та допомагаємо
      </p>
    </div>

    <!-- Advantage 4 -->
    <div
      class="flex flex-col gap-4 max-[449px]:gap-0   items-center text-center w-full max-[450px]:w-[155px]  md:w-[279px] max-[449px]:order-4">
      <img src="/img/r&d.svg" alt="Свій R&D відділ" width="78" height="78"
        class="w-[78px] h-[78px] max-[449px]:w-[75px] max-[449px]:h-[75px] max-[450px]:order-first md:order-last" />
      <h4
        class="text-[16px] md:text-[20px] lg:text-[24px] md:text-[20px] max-[449px]:mt-[15px] font-['Montserrat'] font-semibold text-[#fefefe] leading-tight">
        Свій R&D <span class="max-[449px]:hidden"> </span><br class="hidden max-[449px]:block">відділ
      </h4>
      <p
        class="text-[16px] md:text-[14px] lg:text-[20px] max-[449px]:mt-[25px] text-[#fefefe] font-normal font-['Montserrat']">
        Постійне удосконалення, індивідуальні рішення
      </p>
    </div>
  </div>
</section>