node_modules/
dist/
npm-debug.log*
yarn-error.log*

/public/
site/public/
.hugo_build.lock

resources/_gen/
site/resources/_gen/


.netlify/
.vercel/

cypress/videos/
cypress/screenshots/

site/data/webpack.json