{{ define "main" }}
{{ $categorySlug := "" }}
{{ if .File }}
{{ $categorySlug = .File.BaseFileName }}
{{ else }}
{{ $categorySlug = .Section }}
{{ end }}
{{- $categoryData := index .Site.Data.products.categories $categorySlug -}}

<!-- Hero Section -->
{{ partial "catalog-hero" . }}

{{ partial "our-products-section" . }}

<!-- Why Choose Section -->
{{ partial "catalog-why-choose" . }}

<!-- Knowledge Base Section -->
{{ partial "catalog-knowledge-base" . }}

<!-- FAQ Section -->
{{ partial "catalog-faq" . }}


{{ end }}