{{ $align := .Get "align" | default "right" }}
{{ $width := .Get "width" | default "40%" }}

{{ if eq $align "center" }}
<div style="text-align: center; margin: 20px 0;">
  <figure style="display: inline-block; margin: 0; width: {{ $width }};">
    <img src="{{ .Get "src" }}" alt="{{ .Get "alt" | default "Image" }}" style="max-width: 100%; width: {{ .Get "img_width" | default "100%" }}; margin-bottom: 8px; object-fit: contain; display: block;">
    {{ if .Get "caption" }}
    <figcaption style="margin-top: 4px; font-size: 0.875rem; text-align: center; color: #6b7280;">
      {{ .Get "caption" }}
    </figcaption>
    {{ end }}
  </figure>
</div>
{{ else }}
{{ $style := printf "margin: 10px; width: %s;" $width }}
{{ $style = printf "float: %s; %s" $align $style }}

<figure style="{{ $style | safeCSS }}">
  <img src="{{ .Get "src" }}" alt="{{ .Get "alt" | default "Image" }}" style="max-width: 100%; width: {{ .Get "img_width" | default "100%" }}; margin-bottom: 8px; object-fit: contain; display: inline-block;">
  {{ if .Get "caption" }}
  <figcaption style="margin-top: 4px; font-size: 0.875rem; text-align: center; color: #6b7280;">
    {{ .Get "caption" }}
  </figcaption>
  {{ end }}
</figure>
{{ end }}